/* Look into sharing variables with the block.js file, duplication right now */
:root {
  --stage_width: 6;
  --stage_height: 13;
  --cell_length: 2.5vw;
}

.stage {
  display: grid;
  /* We want stage_height number of rows and stage_width number of columns*/
  grid-template-rows: repeat(var(--stage_height), var(--cell_length));
  grid-template-columns: repeat(var(--stage_width), var(--cell_length));
  border: 2px solid;
  grid-gap: 1px;
  border-color: black;
}